{%- assign visible_posts = '' | split: '' -%}
{%- for post in site.posts -%}
  {%- unless post.categories contains 'hidden' -%}
    {%- assign visible_posts = visible_posts | push: post -%}
  {%- endunless -%}
{%- endfor -%}

{% if visible_posts.size > 0 %}
  <ul>
    {% for post in visible_posts limit: 5 %}
      <li class="post-list-item">
        {% include post_list_meta.html post=post %}
        <a href="{{ post.url | relative_url }}">{% include post_title.html post=post show_kind=true %}</a>
      </li>
    {% endfor %}
  </ul>
  
    {% if visible_posts.size > 5 %}
    <p class="see-more">
      <a href="/blog">See all posts →</a>
    </p>
  {% endif %}
{% endif %}
