{% if site.posts.size > 0 %}
  <ul>
    {% for post in site.posts limit: 5 %}
      {% unless post.categories contains "hidden" %}
      <li class="post-list-item">
        <span class="home-date">
          {{ post.date | date: site.theme_config.date_format }}:
        </span>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
      {% endunless %}
    {% endfor %}
  </ul>
  
  {% if site.posts.size > 5 %}
    <p class="see-more">
      <a href="/blog" class="menu wave-link">
        <svg class="wave" xmlns="http://www.w3.org/2000/svg"
                    width="260" height="20" viewBox="0 0 298 20">
            <path d="M8,18c5,0,5,4,10,4S23,18,28,18s5,4,10,4,5-4,10-4,5,4,10,4,5-4,10-4,5,4,10,4,5-4,10-4,5,4,10,4,5-4,10-4,5,4,10,4,5-4,10-4,5,4,10,4,5-4,10-4,5,4,10,4,5-4,10-4,5,4,10,4,5-4,10-4,5,4,10,4,5-4,10-4,5,4,10,4,5-4,10-4,5,4,10,4,5-4,10-4,5,4,10,4,5-4,10-4,5,4,10,4,5-4,10-4S282,22,287,22s5-4,5-4" transform="translate(-1 -11)" stroke="currentColor" fill="none" stroke-width="2"></path></svg>
        See all posts →</a>
    </p>
  {% endif %}
{% endif %}