---
layout: default
---

<header>
{% if site.theme_config.show_navbar == true %}
	{% include horizontal_list.html collection=site.data.home.navbar_entries %}
	<div class="dashed"></div>
{% endif %}
</header>
<h1 class="post-title">{{ page.title }}</h1>
{% include date_and_social_share.html %}
{{ content }}

{% if page.ref %}
	{% assign translations = site.posts | where:"ref", page.ref | sort: 'lang' %}
	{% assign has_translation = false %}
	{% for post in translations %}
		{% if post.lang != page.lang %}
			{% assign has_translation = true %}
			{% break %}
		{% endif %}
	{% endfor %}
	{% if has_translation %}
	<hr>
		<div class="language-switcher">
			{% assign translation_count = 0 %}
			{% for post in translations %}
				{% if post.lang != page.lang %}
					{% assign translation_count = translation_count | plus: 1 %}
				{% endif %}
			{% endfor %}
			
			{% assign current_index = 0 %}
			{% for post in translations %}
				{% if post.lang != page.lang %}
					{% assign current_index = current_index | plus: 1 %}
					{% case post.lang %}
					{% when 'en' %}
						{% assign read_in_message = "Read in English" %}
					{% when 'de' %}
						{% assign read_in_message = "Auf Deutsch lesen" %}
					{% when 'es' %}
						{% assign read_in_message = "Leer en Castellano" %}
					{% when 'cat' %}
						{% assign read_in_message = "Llegir en Català" %}
					{% else %}
						{% assign read_in_message = post.lang | upcase %}
					{% endcase %}
					<a href="{{ post.url }}" class="{{ post.lang }}">{{ read_in_message }}</a>{% if current_index < translation_count %} - {% endif %}
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
{% endif %}

{% if site.theme_config.show_footer == true %}
	<footer>
		<div class="dashed"></div>
		{% include horizontal_list.html collection=site.data.home.footer_entries %}
	</footer>
{% endif %}